html, body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', serif;
}

@font-face {
    font-family: 'Raleway', serif;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

header{
    background-color: #ff8000;
    height: 64px;
    display: flex;
    padding: 16px;
}

.logo{
    height: 32px;
    width: 128px;
}

.content-wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 4px;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.basket-wrapper{
    width: 300px;
    display: flex;
    flex-grow: 1;
    
}

.content{
    width: 80%;
}

.bg-img{
    height: 250px;
    width: 100%;
    background-image: url(./img/atf.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.restaurant-logo{
    border-radius: 64px;
    width: 128px;
    background-image: url(./img/DAS_BUFFET_logo.jpg);
    z-index: 1000;
    margin: -288px 50%;
}

.restaurant-img{
    margin: 0;
    padding: 0;
}

.restaurant-data{
    padding: 16px;
}

h1{
    font-size: 28px;
    font-weight: bolder;
    margin: 12px 0;
}

.rating{
    color: #ff8000;
    font-size: 20px;
}

nav{
    display: flex;
    font-size: 20px;
    gap: 16px;
    padding: 8px 16px;
    background-color: #f7f6f1;
}

a{
    text-decoration: none;
    color: black;
}

.food-bg-img{
    height: 160px;
    width: 100%;
    background-image: url(./img/maindishes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#side-dish-food-bg{
    background-image: url(./img/better-sidedish.jpg);
}

#pizza-bg{
    background-image: url(./img/pizza.jpg);
}

.a-dish-template{
 border: solid 2px #efefef;
 padding: 12px;
 margin-bottom: 16px;
}

.dish-first-row{
    display: flex;
    justify-content: space-between;
}

.add-btn{
    color: #ff8000;
    border: solid 2px #efefef;
    background-color: white;
}

.main-dishes, .side-dishes, .pizzas, .desserts{
    padding: 12px;
}

.dish-price{
    color: #ff8000;
    font-weight: bold;
}




